<div align="center">
<h2>Ринат Еникеев</h2>
    <p class="title">Начинающий Ruby-разбработчик</p>
    <p>Анекдот:</p>
    <p>Кем приходится бургер сэндвичу? Бутербродственником</p>
    <p>rinenik3105@gmail.com</p>
    <%= link_to 'Main page', root_path, class:"button" %>
</div>
