<div align="center">
<h1>Main page</h1>
      <img src="https://osvitoria.media/wp-content/uploads/2018/06/cover_play_3.gif" alt="Rinat" style="width:40%">
      <p></p>
      <%= link_to 'About me', about_path, class: "button"%>
</div>
