
<div class="card">
    <img src="https://osvitoria.media/wp-content/uploads/2018/06/cover_play_3.gif" alt="Rinat" style="width:40%">
    <div class="container">
      <h2>Ринат Еникеев</h2>
      <p class="title">Начинающий Ruby-разбработчик</p>
      <p>Анекдот:</p>
      <p>Кем приходится бургер сэндвичу? Бутербродственником</p>
      <p>rinenik3105@gmail.com</p>
      <p><button class="button">Contact</button></p>
    </div>
</div>
